<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        
         <svg class="icon collapsible__computer">
            <use xlink:href="imAges/sprite.svg#computer"></use>
          </svg>
        
    </header>
    <div class="collapsible__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt et optio officiis error veniam sapiente!</p>
    </div>
   </div>
   <script src="main.js"></script>