<span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="imAges/sprite.svg#clock"></use>
      </svg>
</span>

<div class="collapsible">
  <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>
      
       <svg class="icon">
          <use xlink:href="imAges/sprite.svg#chevron"></use>
        </svg>
      
  </header>
  <div class="collapsible__content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt et optio officiis error veniam sapiente!</p>
  </div>
 </div>